.App {
  text-align: center;
}

#loading-bar{
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dropdown-menu.show{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dropdown-menu p{
  align-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
  color: red;
}
.btn-book-now{
  margin-left: 15px;
}

.btn-login{
  width: 88%
}
.dropstart .dropdown-menu[data-bs-popper]{
  margin-top: 80%;
  margin-left: -200%;
  margin-right: -120%;
}
@media (max-width: 992px){
  .dropstart .dropdown-menu[data-bs-popper]{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
.navbar{
  width: 100vw;
  position: fixed;
  z-index: 50;

}
.bg-dark{
  background-color: #292826!important;
}
.page-content{
  height: 100vh;
  padding-top: 55px;
}
